/* Form styles */
.container{
    margin-top: 2rem !important;
}
.btn {
    text-transform: uppercase;
    font-size: 1rem !important;
    width: 10rem;
    margin-top: 2rem !important;
};

.textField {
    background-color: white;
};

.label {
    text-align: left;
};

.fieldContainer, .tableContainer {
    margin-top: 1rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


